@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  html {
    margin: 0;
    padding: 0;
    background: #a1e0c4;
  }

  .homePage {
    background-image: url(./images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
  }

  .testimonials {
    background-image: url(./images/bg3.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
  }
}
